{# templates/book/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}List Book{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold underline">Book list</h1>
    <div class="p-5">
        <ul>
            {% for book in books %}
                <li>{{ book.title }} by {{ book.author }} ({{ book.releaseYear }}), ({{ book.isbn }})</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}